 * {
     margin: 0;
     padding: 0;
    
 }

 header {
     background-color: lightblue;
     position: fixed;
     left: 0;
     right: 0;

     display: flex;
     align-items: center;


 }

 header * {
     display: inline;
 }

 header li {
     margin: 20px;
 }

 header li a {
     color: blue;

 }

 nav li:hover {
     background-color: darkblue;
     color: white;
 }


 /* section */
 .left{
    display: inline-block;
    width: 50%;
    background-color: lightgreen;
    height: 800px;
 }
 .right {
     display: inline-block;
     width: 50%;
     background-color: lightcoral;
     height: 800px;
 }

 /* footer  */
 .footer{
    margin-top: -10px;
    width: 100%;
        background-color: rgb(135, 128, 240);
        height: 50px;
        text-align: center;
        padding-top: 20px;
 }





 /* The dropdown container */
 .dropdown {
     float: left;
     overflow: hidden;
 }

 /* Dropdown button */
 .dropdown .dropbtn {
     font-size: 16px;
     border: none;
     outline: none;
     color: white;
     padding: 14px 16px;
     background-color: inherit;
     font-family: inherit;
     /* Important for vertical align on mobile phones */
     margin: 0;
     /* Important for vertical align on mobile phones */
 }

 /* Add a red background color to navbar links on hover */
 .navbar a:hover,
 .dropdown:hover .dropbtn {
     background-color: red;
 }

 /* Dropdown content (hidden by default) */
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 /* Links inside the dropdown */
 .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }

 /* Add a grey background color to dropdown links on hover */
 .dropdown-content a:hover {
     background-color: #ddd;
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 #dropd{

 }
 